@font-face 
  font-family 'Glyphicons Halflings'
  src url('../fonts/glyphicons-halflings-regular.eot')
  src url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
.glyphicon 
  position relative
  top 1px
  display inline-block
  font-family 'Glyphicons Halflings'
  font-style normal
  font-weight normal
  line-height 1
  &:empty 
    width 1em
.glyphicon-chevron-left 
  &:before 
    content "\e079"
.glyphicon-chevron-right 
  &:before 
    content "\e080"
.glyphicon-italic 
  &:before 
    content "\e049"
.glyphicon-copyright-mark 
  &:before 
    content "\e194"
.glyphicon-bookmark 
  &:before 
    content "\e044"
.glyphicon-tag 
  &:before 
    content "\e041"
.glyphicon-eye-open 
  &:before 
    content "\e105"
.glyphicon-comment 
  &:before 
    content "\e111"
.glyphicon-time 
  &:before 
    content "\e023"
