@font-face
	font-family "iconfont"
	src: url('https://pic.52xyi.cn/fonticonfont.eot?t=1480671921598')
	src: url('https://pic.52xyi.cn/fonticonfont.eot?t=1480671921598#iefix') format('embedded-opentype'),url('https://pic.52xyi.cn/fonticonfont.woff?t=1480671921598') format('woff'),url('https://pic.52xyi.cn/fonticonfont.ttf?t=1480671921598') format('truetype'),url('https://pic.52xyi.cn/fonticonfont.svg?t=1480671921598#iconfont') format('svg')
.iconfont
	font-family "iconfont" !important
	font-size 16px
	font-style normal
.icon-qq
	&:before
		content "\e630"
.icon-twitter
	&:before
		content "\eb2a"
.icon-email
	&:before
		content "\e780"
.icon-github
	&:before
		content "\e6b1"