article .article-excerpt img,
article .article-content img,
article .featured-media img 
  display block
  max-width 100%
  height auto
  margin 1rem auto
article
  ol
    margin-left 10px  
    li
      list-style decimal
  ul
    margin-left 10px
    li
      list-style disc
  blockquote 
    margin 0 0rem
    padding-left 15px
    line-height 2rem
    border-left 2px solid #000
    background #eee
    ol 
      padding-left 10px        
  code 
    padding 2px 4px
    margin-left 2px
    margin-right 2px
    color #c7254e
    white-space normal
    border-radius 0
  p 
    margin 2rem 0
    line-height 1.8
    a 
      word-wrap break-word
      border-bottom 1px solid #000
  .video-container 
    position relative
    padding-bottom 56.25%
    padding-top 0
    height 0
    overflow hidden
    iframe 
      position absolute
      top 0
      left 0
      width 100%
      height 100%
  table 
    max-width 100%
    width 100%
    caption 
      padding 5px
      color #333
      background-color #e5e5e5
    th 
      vertical-align bottom
      border-bottom 1px solid #e5e5e5
    tbody 
      & + tbody 
        border-top 2px solid #e5e5e5
    .table 
      background-color #fff
    .table-bordered 
      border 1px solid #e5e5e5
    .table-striped 
      tbody 
        tr 
          &:nth-of-type(odd) 
            background-color #f2f2f2
article table th,
article table td 
  text-align left
  padding 0.6em
  vertical-align top
.entry 
  .gist 
    background #eee
    border 1px solid #fff
    margin 15px 0px
    padding 7px 15px
    border-radius 2px
    text-shadow 0 0 1px #fff
    line-height 1.6
    overflow auto
    color #666
    .gist-file 
      border none
      font-family inherit
      margin 0
      font-size 0.9em
      .gist-data 
        background none
        border-bottom none
        pre 
          padding 0 !important
          font-family font-mono
      .gist-meta 
        background none
        color color-meta
        margin-top 5px
        padding 0
        text-shadow 0 0 1px #fff
        font-size 100%
        a 
          color color-link
          &:visited 
            color color-link
figure 
  &.highlight 
    background #fafafa
    margin 1em 0;
    padding 1em
    border-radius 5px
    line-height 1.6
    overflow auto
    position relative
    font-size 0.9em
    figcaption 
      color color-meta
      margin-bottom 5px
      text-shadow 0 0 1px #fff
      a 
        position absolute
        right 15px
    pre 
      border none
      padding 0
      margin 0
    table 
      margin-top 0
      border-spacing 0
    .gutter 
      color color-meta
      width 20px
      padding-right 15px
      border-right 1px solid color-border
      text-align right
    .code 
      padding-left 15px
      border-left 1px solid #fff
      color #fff
    .line 
      height 20px
      color #000
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc 
  color #93a1a1
  font-style italic
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title 
  color #859900
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor 
  color #2aa198
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id 
  color #268bd2
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type 
  color #b58900
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title 
  color #cb4b16
pre 
  .deletion 
    color #dc322f
