@media only screen and (max-width: 480px)
	.musicbox
	.tags
	.friends
		display: none

	#ds-reset
		.ua
			display: none !important

	header
		.notice
			width: 98%
		.navbar
			max-width: 98%

	.container
		main
			max-width: 98%

@media only screen and (min-width: 481px) and (max-width: 768px)
	header
		.notice
			width: 85%
		.navbar
			max-width: 85%

	.container
		main
			max-width: 85%

@media (min-width: 1024px)
	header
		.notice
			width: 40%
		.navbar
			max-width: 55%
	.container
		main
			max-width: 55%
